<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- ===== HEADER  ================= -->

    <%- include('../partials/header.ejs') %>

    <!-- ===== PRODUCTS EDIT  ================= -->

    <div class="rg-rg-register-form-container cp-editar-form-contenedor">
      <h3 class="rg-register-label">Editar producto</h3>
      <div class="rg-register-form cp-editarProducto">
        <form
          action="/product/editar-productos/<%= productToEdit.id %>?_method=PUT"
          method="POST"
          name="rg-register-form"
          class="rg-register-form cp-editarProducto"
          enctype="multipart/form-data"
        >
          <div class="cp-editarImagen">
            <label for="imagenProducto" class="cp-tituloSeccion"
              >Imagen del producto</label
            >
            <img
              class="cp-subirImagen"
              src="/images/productos/<%= productToEdit.image %>"
              alt=""
            />
            <input
              id="imagenProducto"
              type="file"
              name="images"
              accept="jpg, png, jpeg"
              class="rg-form-input-text subirArchivo"
              value="<%= productToEdit.image %>"
              multiple
            />
          </div>
          <div class="cp-detallesProducto">
            <h3 class="cp-tituloSeccion">Marca</h3>
            <input
              type="text"
              value="<%= productToEdit.brand %>"
              class="rg-form-input-text"
              name="brand"
            />
            <h3 class="cp-tituloSeccion">Nombre</h3>
            <input
              type="text"
              value="<%= productToEdit.name %>"
              name="name"
              class="rg-form-input-text"
            />
            <h3 class="cp-tituloSeccion">Precio de Oferta</h3>
            <input
              type="number"
              value="<%= productToEdit.offerPrice %>"
              name="offerPrice"
              class="rg-form-input-text"
            />
            <h3 class="cp-tituloSeccion">Precio Regular</h3>
            <input
              type="number"
              value="<%= productToEdit.regularPrice %>"
              name="regularPrice"
              class="rg-form-input-text"
            />
            <h3 class="cp-tituloSeccion">Descuento</h3>
            <input
              type="number"
              value="discount"
              name="discount"
              class="rg-form-input-text"
            />

            <h3 class="cp-tituloSeccion">Colores</h3>
            <div class="cp-chekboxColores">
              <label for="colores">
                <input
                  type="checkbox"
                  name="colores"
                  value="rojo"
                  id="rojo"
                  checked
                />
                Rojo</label
              >
              <label for="colores">
                <input
                  type="checkbox"
                  name="colores"
                  value="Azul"
                  id="Azul"
                  checked
                />
                Azul</label
              >
              <label for="colores">
                <input
                  type="checkbox"
                  name="colores"
                  value="blanco"
                  id="blanco"
                  checked
                />
                Blanco</label
              >
              <label for="colores">
                <input
                  type="checkbox"
                  name="colores"
                  value="negro"
                  id="negro"
                />
                Negro</label
              >
              <label for="colores">
                <input type="checkbox" name="colores" value="rosa" id="rosa" />
                Rosa</label
              >
              <label for="colores">
                <input
                  type="checkbox"
                  name="colores"
                  value="verde"
                  id="verde"
                />
                Verde</label
              >
              <label for="colores">
                <input type="checkbox" name="colores" value="gris" id="gris" />
                Gris</label
              >
            </div>

            <label
              for="especificaciones"
              class="cp-tituloSeccion"
              value="specifications"
            >
              Especificaciones:</label
            >
            <textarea
              name="specifications"
              id="especificaciones"
              class="cp-textAreaInput"
            >
<%= productToEdit.specifications %></textarea
            >

            <label for="descripcion" class="cp-tituloSeccion">
              Descripción:</label
            >
            <textarea
              name="descripcion"
              id="descripcion"
              class="cp-textAreaInput"
            >
<%= productToEdit.specifications %></textarea
            >
            <h3 class="cp-tituloSeccion">Stock</h3>
            <input
              type="number"
              value="<%= productToEdit.stock %>"
              name="stock"
              class="rg-form-input-text"
            />

            <h3 class="cp-tituloSeccion">Categorias</h3>
            <div class="cp-contenedorSelectorCategoria">
              <select name="categoria" id="" class="cp-selectorCategoria">
                <option value="">Selecciona una categoria</option>
                <option value="celulares" selected>Celulares</option>
                <option value="laptops">Laptops</option>
                <option value="tablets">Tablets</option>
                <option value="gamer">Gamer</option>
                <option value="audio">Audio</option>
                <option value="accesorios">Accesorios</option>
              </select>
            </div>
            <br />
            <br />
            <button type="submit" class="rg-register-form-button">
              Editar
            </button>

            <a href="/" class="rg-register-form-button">Cancelar</a>
          </div>
        </form>
      </div>

      <!-- ==== DELETE BUTTON ==== -->
    </div>

    <form
      action="/product/editar-productos/<%= productToEdit.id %>?_method=DELETE"
      method="POST"
      enctype="multipart/form-data"
    >
      <button type="submit" class="rg-register-form-button">Borrar</button>
    </form>

    <!-- ======= FOOTER  ====== -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
