<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- ===== START OF HEADER  ====== -->

    <%- include('../partials/header.ejs') %>

    <!-- ===== END OF HEADER ====== -->

    <!-- ===== PRODUCT DETAIL ======= -->
    <!-- <h1>prueba</h1> -->
    <main class="dp-main">
      <div><%= detail.route %></div>
      <br />
      <div class="dp-informacion-producto">
        <section class="dp-contenedorImagenes">
          <div class="dp-imagenPrincipal">
            <img
              class="dp-imagen-producto"
              src="../images/productos/<%= detail.img %>"
              alt=""
            />
          </div>
          <div class="dp-slider-miniaturas">
            <div class="dp-container-miniatura">
              <img
                class="dp-miniatura-producto"
                src="/images/productos/producto2.jpg"
                alt=""
              />
            </div>
            <div class="dp-container-miniatura">
              <img
                class="dp-miniatura-producto"
                src="/images/productos/producto3.jpg"
                alt=""
              />
            </div>
            <div class="dp-container-miniatura">
              <img
                class="dp-miniatura-producto"
                src="/images/productos/producto4.jpg"
                alt=""
              />
            </div>
          </div>
        </section>
        <section class="dp-product-description">
          <h4 class="dp-marca"><%= detail.brand %></h4>
          <h2 class="dp-modelo"><%= detail.productName %></h2>
          <p class="dp-precio-antes"><%= detail.regularPrice %></p>
          <h2 class="dp-precio"><%= detail.offerPrice %></h2>
          <h5 class="dp-colores">Colores disponibles:</h5>
          <div class="dp-contenedor-colores">
            <div class="dp-selector-colores"></div>
            <div class="dp-selector-colores"></div>
            <div class="dp-selector-colores"></div>
          </div>

          <div class="dp-selectorCantidades">
            <button class="dp-selectorCantidades-resta">-</button>
            <input
              type="number"
              class="dp-selectorCantidades-numero"
              value="1"
              step="1"
            />
            <button class="dp-selectorCantidades-suma">+</button>
          </div>

          <button class="dp-añadir-a-carrito">Añadir al carrito</button>
          <div class="dp-promesa-de-compra">
            <div class="dp-promesa-de-valor">
              <div class="dp-iconos-promesa">
                <i class="fas fa-clock"></i>
              </div>
              <p>Entrega en 2 días</p>
            </div>

            <div class="dp-promesa-de-valor">
              <div class="dp-iconos-promesa">
                <i class="fas fa-shipping-fast"></i>
              </div>
              <p>Envío gratis</p>
            </div>

            <div class="dp-promesa-de-valor">
              <div class="dp-iconos-promesa">
                <i class="fas fa-shield-alt"></i>
              </div>
              <p>Compra segura</p>
            </div>
          </div>
        </section>
      </div>
      <section class="dp-descripcion-detalles">
        <ul class="dp-especificaciones">
          <li><a href="#">Descripción</a></li>
          <li><a href="#">Especificaciones</a></li>
        </ul>
        <p class="dp-especificacionTexto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ut tellus
          facilisi sit viverra consequat at. Sagittis fringilla mattis non at
          auctor curabitur vitae tempor tincidunt. Sapien integer non semper a
          facilisis cursus ac pulvinar dolor. Non, suspendisse in risus sed
          diam.
        </p>
      </section>
    </main>

    <!-- ======= START OF FOOTER  ====== -->

    <%- include('../partials/footer.ejs') %>

    <!-- ===== END OF FOOTER  ====== -->
  </body>
</html>
