<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- ===== HEADER  ================= -->
    <%- include('../partials/header.ejs') %>

    <!-- ===== LOGIN FORM ====== -->
    <div class="lg-lg-login-form-container">
      <h3 class="lg-login-label">Iniciar sesión</h3>
      <form
        action="/user/login"
        method="POST"
        name="lg-login-form"
        class="lg-login-form"
        enctype="multipart/form-data"
      >
        <input
          type="email"
          placeholder="Correo electrónico"
          name="mail"
          class="lg-login-input-text"
          id="mail-login"
          value="<%= locals.errors && errors.msg ? errors.oldData : null %>"
        />

        <input
          type="password"
          placeholder="Contraseña"
          name="password"
          class="lg-login-input-text"
        />

        <% if (locals.errors && errors.msg) { %>
        <div style="color: red"><%= errors.msg %></div>
        <% } %> <% if (locals.errors && errors.email) { %>
        <div style="color: red"><%= errors.email %></div>
        <% } %>

        <label for="terminos" class="login-boundarie-label">
          <input
            type="checkbox"
            name="rememberUser"
            id="terminos"
            class="lg-rg-boundaries"
          />
          Recuerdame</label
        >

        <button type="submit" class="lg-login-button">Iniciar sesión</button>

        <a href="#resetearContraseña" class="lg-password-reset"
          >Olvidaste tu contraseña</a
        >
      </form>
    </div>

    <div class="lg-remember-login">
      <label
        >¿No tienes cuenta?
        <a href="./register">Registrate</a>
      </label>
    </div>

    <!-- ======= FOOTER  ====== -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
