<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- ===== HEADER  ====== -->
    <%- include('../partials/header.ejs') %>

    <!-- ===== REGISTER FORM ====== -->
    <div class="rg-rg-register-form-container">
      <h3 class="rg-register-label">Registro</h3>
      <form
        action="/user/register"
        method="POST"
        class="rg-register-form"
        enctype="multipart/form-data"
      >


        <label class="label-input-date">Tipo de Usuario</label>
        <select name="tipoUsuario" class="rg-form-input-text">

          <% for( let i = 0; i < categoriaUsuario.length; i++ ) { %>
            <option 
              value="<%= categoriaUsuario[i].id %>">
              <%= categoriaUsuario[i].nombre %> 
            </option>
          <% } %>

        </select>

        <!-- ================ NOMBRES ========================== -->

        <label class="label-input-date">Nombres</label>
        <input
          type="text"
          class="rg-form-input-text"
          name="name"
          value="<%= locals.oldData ? oldData.name : null %>" 
        />
          <% if (locals.errors && errors.name) { %>
            <div class="register-errors">
              <%= errors.name.msg %> 
              
            </div>
          <% } %>
    
        <!-- ================= APELLIDOS ========================= -->


        <label class="label-input-date">Apellidos</label>
        <input
          type="text"
          name="lastName"
          class="rg-form-input-text"
          value="<%= locals.oldData ? oldData.lastName : null %>"
        />

        <% if (locals.errors && errors.lastName) { %>
          <div class="register-errors">
            <%= errors.lastName.msg %> 
          </div>
        <% } %>


        <!-- =================== EMAIL ======================= -->


        <label class="label-input-date">Correo Electronico</label>
        <input
          type="email"
          name="email"
          class="rg-form-input-text"
          value="<%= locals.oldData ? oldData.email : null %>"
        />

        <% if (locals.errors && errors.email) { %>
          <div class="register-errors">
            <%= errors.email.msg %> 
          </div>
        <% } %>



        <!-- ==================== CONTRASEÑA ====================== -->



        <label class="label-input-date">Contraseña</label>
        <input
          type="password"
          name="password"
          class="rg-form-input-text"
          name="name"
        />

        <% if (locals.errors && errors.password) { %>
          <div class="register-errors">
            <%= errors.password.msg %>
          </div>
          <% } %>

        <!-- ==================== CONFIRMAR CONTRASEÑA ====================== -->




        <label class="label-input-date">Confirmar Contraseña</label>
        <input
          type="password"
          name="confirm_password"
          class="rg-form-input-text"
        />

        <% if (locals.errors && errors.confirm_password) { %>
          <div class="register-errors">
            <%= errors.confirm_password.msg %> 
          </div>
        <% } %>


          
        <!-- ================== DIRECCION ======================== -->

        

          <label class="label-input-date">Dirección</label>
        <input
          type="text"
          name="direction"
          class="rg-form-input-text"
          value="<%= locals.oldData ? oldData.direction : null %>"
        />


        <!-- ================== FECHA DE NACIMIENTO ======================== -->


        <label class="label-input-date"
          >Fecha de Nacimiento
          <input
            type="date"
            name="dateBirth"
            class="rg-form-input-text"
            value="<%= locals.oldData ? oldData.dateBirth : null %>"
          />
        </label>

        <% if (locals.errors && errors.dateBirth) { %>
          <div class="register-errors">
            <%= errors.dateBirth.msg %> 
          </div>
        <% } %>

        

        <!-- =================== IMAGEN ======================= -->

        <label class="label-input-date">Imagen</label>
        <input type="file" name="userImage" class="rg-form-input-text" />

        <% if (locals.errors && errors.userImage) { %>
          <div class="register-errors">
            <%= errors.userImage.msg %> 
          </div>
        <% } %>


        <!-- ================ BOUNDARIES ========================== -->


        <label for="terminos" class="rg-boundaries-label">
          <input type="checkbox" id="terminos" class="rg-boundaries" name="boundariesCheck" 

          <%= locals.errors && errors.boundariesCheck ? null : "checked" %> 
          />

          <div class="rg-boundaries-txt">
            *He leido y acepto las condiciones de
            <span>tratamientos de mis datos personales</span>
          </div>
        </label>

      <% if (locals.errors && errors.boundariesCheck) { %>
        <div class="register-errors">
          <%= errors.boundariesCheck.msg %>
        </div>
        <% } %>


        <!-- ========================================== -->


        <button type="submit" class="rg-register-form-button">Registro</button>
      </form>
    </div>

    <div class="rg-already-registered">
      <p>¿Ya estas registrado?</p>
      <a href="./login"> Inicia sesión aquí</a>
    </div>

    <!-- ======= FOOTER  ====== -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
